streamlit==1.38.0
langchain==0.1.148
langchain-community==0.0.29
langchain-text-splitters==0.4.3
langchain-google-genai==1.0.5
faiss-cpu
pdfplumber
pdf2image
pytesseract
Pillow
pandas
numpy
